[submodule "NESO-Spack"]
	path = NESO-Spack
	url = ssh://git@github.com/ExCALIBUR-NEPTUNE/NESO-Spack.git
[submodule "neso-particles"]
	path = neso-particles
	url = ssh://git@github.com/ExCALIBUR-NEPTUNE/NESO-Particles.git
