name: CI-Workflow

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - dev*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build docker images
        run: |
          docker build -t ci_image -f .devcontainer/Dockerfile .
      - name: unit-tests
        run: |
          docker run --name ci_test -v "$(pwd):/root/Reactions" ci_image:latest -c "cd /root/Reactions && source run_tests.sh"
          cat ./coverage_report/coverage.txt
      - name: Upload code coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ github.workspace }}/coverage_report/coverage.txt
          fail_ci_if_error: true
          verbose: true

  docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build docs
        working-directory: ./docs/
        run: pip install -U -r sphinx/requirements.txt && make
